<%- include ../layouts/cabecera.ejs %>
<div class="container">
    
    <br/>
    <br/>
    <a href="/restaurantes/crear" class="btn btn-primary" type="button">Crear un nuevo restaurante</a>
    <br/>
    <br/>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% for( let restaurante = 0; restaurante < restaurantes.length; restaurante++ ) { %>
                <tr>
                    <td> <%=restaurantes[restaurante].id %>  </td>
                    <td> <%=restaurantes[restaurante].nombre %> </td>
                    <td> <%=restaurantes[restaurante].descripcion %> </td>
                    <td> <%=restaurantes[restaurante].direccion %> </td>
                    <td> <%=restaurantes[restaurante].ciudad %> </td>
                    <td> <img class="img-thumbnail" width="200" src="/images/<%=restaurantes[restaurante].foto %>" alt=""> 
                         </td>
                    <td> 
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <form class="form-inline" method="get" action="/restaurantes/editar/<%=restaurantes[restaurante].id %>">
                                <button class="btn btn-success" type="submit">Editar</button>
                            </form>
                        </div>
                        |
                        <!-- <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <form class="form-inline" method="get" action="/reservas/crear/<%=restaurantes[restaurante].id %>">
                                <button class="btn btn-info" type="submit">Reservar</button>
                            </form>
                        </div>
                        || -->
                        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                            <form class="form-inline" method="post" action="/restaurantes/eliminar/<%=restaurantes[restaurante].id %>">
                                <button class="btn btn-danger" type="submit">Borrar</button>
                            </form>
                        </div>
                    </td>
                </tr>
            <% } %>
            
        </tbody>
    </table>
</div>
        <%- include ../layouts/pie.ejs %>
