<%- include ../layouts/cabecera.ejs %>
<div class="container">
    <br/>
    <h3>Editando reserva en el restaurante <%=reserva.restaurante %></h3>
    <br/>
    <form method="post" action="../actualizar/">
        <div class="col-sm-5">
            <input  style="display:none;" type="text" name="id" value="<%=reserva.id %>" />
            <div class="form-group">
                <label for="my-input">Nombre:</label>
                <input id="my-input"  value="<%=reserva.nombre %>" class="form-control" type="text" required name="nombre">
            </div>
            <div class="form-group">
                <label for="my-input">Apellido:</label>
                <input id="my-input" value="<%=reserva.apellido %>" class="form-control" type="text" required name="apellido">
            </div>
            <div class="form-group">
                <label for="my-input">Fecha:</label>
                <input id="my-input"  value="<%=reserva.fecha %>" class="form-control" type="date" required name="fecha">
            </div>
            <div class="form-group">
                <label for="my-input">Hora:</label>
                <input id="my-input" value="<%=reserva.hora %>" class="form-control" type="time" required name="hora">
            </div>
            <div class="form-group">
                <label for="my-input">Mesas disponibles:</label>
                <input type="text" style="color:red" readonly class="form-control-plaintext" id="staticMesa" value="<%=mesasDisponibles %>">
                <input id="my-input" value="<%=reserva.mesa %>" class="form-control" type="number" min="1" max="15" required name="mesa">
            </div>
            <div class="form-group">
                <label for="my-input">Personas: (Máximo 4)</label>
                <input id="my-input" value="<%=reserva.personas %>" class="form-control" type="number"  min="1" max="4" required name="personas">
            </div>
        
            <div class="btn-group-horizontal" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary">Guardar</button>
                |
                <a class="btn btn-danger" href="/reservas" role="button">Volver</a>
            </div>
        </div>
        
    </form>
</div>
<%- include ../layouts/pie.ejs %>
